<!--Form Group-->
<form class="row main-form"
      [formGroup]="form"
      *ngIf="form">
  <div *ngFor="let field of fields"
       [class]="order[field?.fieldName]?.class ? order[field?.fieldName]?.class : 'col-12'">

    <app-field [appearance]="appearance"
               [fg]="form" [field]="field"
               [fieldDataPool]="fieldDataPool"
               [method]="order[field?.fieldName]?.methods"></app-field>
  </div>
</form>

<!--Skeleton-->
<div class="row main-form"
     *ngIf="!form">

  <div *ngFor="let skeleton of setSkeleton" [class]="skeleton?.class ? skeleton?.class : 'col-12'">
    <ngx-skeleton-loader [count]="1"
                         [theme]="{height: '45px'}"
                         *ngIf="skeleton.display === undefined || skeleton.display"></ngx-skeleton-loader>
  </div>
</div>
