/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

::-webkit-scrollbar{
  width: 6px;
}
::-webkit-scrollbar-track{
  background-color: #EAF2F8;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: #085fa5;
  border-radius: 10px;
}
