<div class="sidebar-header">
  <div class="request-title">
    <mat-icon style="font-size: 22px;margin-right: 10px">swap_horiz</mat-icon>
    <span>{{requestType}}</span>
  </div>
</div>

<div class="row sidebar-container">

  <!--DYNAMIC FORM HTML USAGE-->
  <app-form [fields]="labels"
            [values]="request"
            [method]="method"
            [order]="order"
            style="width: 100%"
            *ngIf="labels"></app-form>
  <!--------------------------->

  <div class="button-row">
    <span [appLabelStatus]="{statusArray: statusArray}" *ngIf="requestStatus">
      {{requestStatus}}
    </span>
    <span style="flex: 1 1 auto"></span>

    <!--DYNAMIC FORM GET FORM AND RESET FORM DIRECTIVES HTML USAGE-->
    <button mat-button color="primary" appGetForm (form)="insertRequest($event)" disabled>{{context === 'NEW' ? 'Insert' : 'Update'}}</button>
    <button *ngIf="context === 'NEW'" mat-button color="warn" appResetForm>Reset</button>
    <!-------------------------------------------------------------->
  </div>
</div>
